@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@300;400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}
*, 
*::before, 
*::after {
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: #0000 !important;
    position: relative;
    min-height: 100vh !important;
    min-width: 100vw !important;
    padding-bottom: 0;
}
.quadriple-grid {
    width: '100%';
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    gap: 1px;
}
/* code of africa */

.img-card{
    width:293px;
    height: 588px;
    overflow: hidden;
    
}
.text-wrapper{
    bottom:4rem;
    left:1rem;
    z-index: 5;
    
}
.photo-description{
    transition: all 0.5s ease;
}
.subject-name{
    width: 213px;
    font-weight: 700;
    font-size:30px;
    line-height: 34.5px;
    text-transform: uppercase;
}
.overlay{
    background: transparent;
    height: 100%;
    width: 100%;

}
.img-card:hover > .gallery-img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}
.img-card:hover > .overlay{
    position: absolute;
    height: 100%;
    width:100%;
    z-index: 3;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.know-more{
    font-weight:400;
    font-size:12px;
    line-height:16.02px;
    opacity: 0;
    bottom: 0;
    transition: all 0.4s ease;
    bottom: 1rem;
}
.img-card:hover  .know-more{
    opacity: 1;
}
.img-card:hover  .photo-description{
    transform: translateY(-36%);
}
.location{
    font-weight:400;
    font-size:12px;
    line-height:16.02px;
    z-index: 5;
    text-transform: capitalize;
}


/* ------ show page ----------*/

/* .display{
    width: 80%;
    height: 20rem;
    border: 1px solid rgba(0, 0, 0, 0.3);;
} */

.double-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1px;
    width: 80%;
}
.img-box{
    height: 80rem;
    width: 100%;
    overflow: hidden;
}
.show-img{
    height: 80rem;;
    width: 100%;
}
/*--------re usables-----*/
.clr-aqua{
    color: aqua !important;
}
.clr-red{
    color: #E84949 !important;
}
.bg-red{
    background-color: #E84949 !important;
    color: #fff !important;
}
.bg-hue{
    background-color: #bdbdbd !important;
}
.bg-black{
    background-color: #000 !important;
    color: #fff 
}
.fill-height{
    height: 100% !important;
    
}
.fill-width{
    width: 100% !important;
    
}
.full-height{
    height: 100vh !important;
}
.full-width{
    width: 100vw!important;   
}
.block{display: block !important;}
.absolute{position: absolute !important;}
.relative{position:relative !important;}
.flex-centered-vertical{
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
    
}

.flex-centered{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    /* flex-wrap: wrap; */
}
.flex{
    display: flex;
    justify-content: space-evenly !important;
    flex-wrap: wrap;
}
.style-none{
    text-decoration: none !important;
    list-style: none !important;
    color: inherit !important;
}
.mt-lg-5{
    margin-top: 1rem !important;

}
.my-lg-5{
    margin-top: 1rem !important;
    margin-bottom:  1rem!important;

}
.px-lg-4{
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;

}
.py-lg-5{
    padding-top: 1.6rem !important;
    padding-bottom: 1.6rem !important;

}
.d-lg-none{
    display: none !important;
}
.d-lg-block{
    display: block !important;
}
.border{
    border: 3px solid #E84949 !important;
}

 /* ---------------- media queries ----------------- */

 /* Small screens (sm) */
@media (max-width: 640px) {
    .img-card{
        width:100%;
        height: '100%';
        
    }
    .photo-description{
        display: none;
    }
    .know-more{
        opacity: 1;
    }
  }

  /* Medium screens (md) */
@media (min-width: 768px) {
    .img-card{
        width:100%;
        height: '100%';
        
    }
    .know-more{
        opacity: 1;
    }
    .description-box{
        padding-right: 3rem;
        padding-left: 3rem;

    }
  }
  